$openSans: 'Open Sans', sans-serif;
$balooTama: 'Baloo Tamma 2', cursive;
$raleway: 'Raleway', sans-serif;
$primaryColor: #504ec7;
$secondaryColor: #333279;
$accent: #9b3ff8;
$accent2: #8829e8;
$fontColor: #e0e0e0;
$gradient: linear-gradient(-90deg, $primaryColor, #ea19ee);
